# Files to be kept under a git clean -f
.code-workspace.code-workspace
.gitignore
.vscode
.*
*.Identifier
*.yaml
*.make
*.o
*.cxx.o
*.a
*.00*
*.out
*.nc
build/main/CMakeFiles/microhh.dir/microhh.cxx.o
build/src/CMakeFiles/microhhc.dir/boundary.cxx.o
*.png
